.icon-font {
    font-size: 4em;
}
.icon-container {
    text-align: center;
}
.justified {
    text-align: justify;
}
.icon-pt {
    padding-top: 0.35em;
}
.icon-pl {
    padding-left: 0.35em;
}
.icon-pr {
    padding-right: 0.35em;
}